body
{
  font-family: "Montserrat";
}
#title
{
  background-color:#967E76;
  color: black;
}
h1
{
  padding-top: 175px;
  font-family: "Helvetica";
  font-size:3rem;
  line-height: 1;

}
h2
{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1;
}
h3:hover
{
  color:orange;
}

.container-fluid
{
  padding: 3% 15%;
}
.navbar
{
  padding: 0 0 4rem;
}
.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}
.nav-item
{
  padding:0 18px;
}
.nav-link
{
  font-size: 2rem;
  font-family: "Montserrat-light";
}
.title-image{
  width: 85%;
position: relative;
left:430px;

}
#testimonial
{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image
{
  width: 14%;
  border-radius: 100%;
  margin: 20px;
}
.jj
{
  text-align:center;

}
#footer
{

  padding: 1% 15%;
  text-align: center;
  background-color: #d3c8c8;

}
.fa {
  padding: 43px;
  width: 93px;
  height: 89px;
  text-decoration: none;
  border-radius:100%;
  font-size: larger;
}
.fa-facebook {
  background: #3B5998;
  color: white;
    margin: 20px 20px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
    margin: 20px 20px;
}

.fa-instagram {
  background: #125688;
  color: white;
    margin: 20px 20px;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
    margin: 20px 20px;
}
.text
{
  margin-top: 200px;
  background-color: #ef8172;
  width:100%;
  color:#ef81712;
}
